flask==2.2.2
gunicorn==20.1.0
werkzeug==2.3.7
ffmpeg==1.4
openai>=1.24.0,<2.0.0
manim==0.18.0
google-cloud-storage==2.10.0
python-dotenv==1.0.0
bs4==0.0.1
langchain==0.1.16
langchain_community==0.0.34
langchain-openai==0.1.6
langchain-anthropic==0.1.11
langgraph
anthropic
qianfan==0.3.11
google-cloud-logging
flask-cors
azure-storage-blob
azure-monitor-opentelemetry
manim-physics


#pip install wheel
#sudo apt update
#sudo apt install ffmpeg
#pip install beautifulsoup4
#pip install ffmpeg bs4

